<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MusicPlaylist</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<header>MusicPlaylist</header>
<br>
<section>
  <label for="music-select">Choisir votre Music:</label>
  <br>
  <select name="music" id="music-select">
    <option value="">--Choisir votre titre --</option>
    <option value="m1">Stuck with U</option>
    <option value="m2">This Is What You Came For</option>
    <option value="m3">Love On The Brain</option>
    <option value="m4">7 rings</option>
    <option value="m5">Shirt</option>
    <option value="m6">Needed Me</option>
    <option value="m7">positions</option>
    <option value="m8">Anti-Hero</option>
    <option value="m9">Into You</option>
    <option value="m10">Starboy</option>
    <option value="m11">boyfriend</option>

  </select>

</section>
<section>
  <figure>
    <figcaption>Listen </figcaption>
    <audio
      controls
      src="/media/cc0-audio/t-rex-roar.mp3">
      <a href="/media/cc0-audio/t-rex-roar.mp3">
        Download audio
      </a>
    </audio>
  </figure>
</section>
<section><input class="favorite styled"
                type="button"
                value="back">
</section>
</body>
</html>
